body {
  background-color: #f6f2fc;
}
.display-3 {
  padding-top: 1.2rem;
}

.results-list {
  margin: 25px auto;
  .list-group-item {
    margin-bottom: 0.75rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}